@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dancing+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #10221b;
}

section {
  padding: 5rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.1rem solid #10221b;
  color: #10221b;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}
.btn:hover {
  background: #10221b;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0%;
  right: 0%;
  padding: 2rem 9%;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.header.active {
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  font-weight: bolder;
}
.header .logo i {
  color: #219150;
}
.header .navbar a {
  margin-left: 2rem;
  font-size: 1.7rem;
  color: #10221b;
}
.header .navbar a:hover {
  color: #219150;
}
.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: #10221b;
}
.header .icons a, .header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
}
.header .icons a:hover, .header .icons div:hover {
  color: #219150;
}
.header #menu-btn {
  display: none;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transform: translateY(-110%);
}
.search-form.active {
  transform: translateY(0%);
}
.search-form #close-search {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  cursor: pointer;
  color: #fff;
  font-size: 6rem;
}
.search-form #close-search:hover {
  color: #219150;
}
.search-form form {
  width: 70rem;
  margin: 0 2 rem;
  border-bottom: 0.2rem solid #fff;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
}
.search-form form input {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  text-transform: none;
  background: none;
  padding-right: 2rem;
}
.search-form form input::-moz-placeholder {
  color: #aaa;
}
.search-form form input:-ms-input-placeholder {
  color: #aaa;
}
.search-form form input::placeholder {
  color: #aaa;
}
.search-form form label {
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}
.search-form form label:hover {
  color: #219150;
}

.home {
  padding: 0;
}
.home .box {
  min-height: 100vh;
  display: block;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  justify-content: flex-end;
  padding: 2rem 9%;
}
.home .box.second {
  justify-content: flex-start;
}
.home .box .two {
  float: left;
  position: absolute;
}
.home .box .content {
  float: right;
  padding-top: 20%;
  width: 50rem;
}
.home .box .content span {
  font-size: 4rem;
  color: #10221b;
}
.home .box .content h3 {
  font-size: 3rem;
  color: #219150;
  padding-top: 0.5rem;
  text-transform: uppercase;
}
.home .box .content p {
  line-height: 2;
  color: #10221b;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
  color: #10221b;
}

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #10221b;
}

.category .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}
.category .box {
  text-align: center;
  padding: 1rem;
}
.category img {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.category h3 {
  font-size: 2rem;
  color: #219150;
}
.category p {
  font-size: 1.6rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.about {
  background: #eee;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.about .image {
  flex: 1 1 42rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}
.about .image img {
  width: 100%;
  box-shadow: 4rem 4rem 0 black;
}
.about .content {
  flex: 1 1 42rem;
}
.about .content h3 {
  font-size: 3rem;
  color: #219150;
}
.about .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.shop .slide {
  width: 35rem;
  border: 0.1rem solid #10221b;
}
.shop .slide:hover .image .icons {
  transform: translateY(0rem);
}
.shop .slide .image {
  position: relative;
  overflow: hidden;
  height: 30rem;
  width: 100%;
}
.shop .slide .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop .slide .image .icons {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  left: 0;
  text-align: center;
  z-index: 10;
  transform: translateY(7rem);
}
.shop .slide .image .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background: #10221b;
  color: #fff;
  margin: 0.2rem;
}
.shop .slide .image .icons a:hover {
  background: #219150;
}
.shop .slide .content {
  padding: 1rem 0;
  text-align: center;
}
.shop .slide .content h3 {
  font-size: 2rem;
  color: #10221b;
}
.shop .slide .content .price {
  padding: 0.5rem 0;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  color: #219150;
}
.shop .slide .content .stars i {
  font-size: 1.7rem;
  color: #10221b;
}

.packages {
  background: #eee;
}
.packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.packages .box-container .box {
  text-align: center;
  background: #fff;
  border: 0.1rem solid #10221b;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.packages .box-container .box:hover {
  background: #10221b;
}
.packages .box-container .box:hover .content > * {
  color: #fff;
}
.packages .box-container .box:hover .btn {
  border-color: #fff;
}
.packages .box-container .box:hover .btn:hover {
  background: #fff;
  color: #10221b;
}
.packages .box-container .box .images {
  overflow: hidden;
  height: 25rem;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 0.5rem;
}
.packages .box-container .box .images img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.packages .box-container .box .content {
  padding: 2rem;
}
.packages .box-container .box .content h3 {
  font-size: 2rem;
  color: #10221b;
}
.packages .box-container .box .content p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}
.packages .box-container .box .content .price {
  font-size: 2rem;
  color: #219150;
}

.services {
  background: #eee;
}
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 1.5rem;
}
.services .box {
  text-align: center;
  padding: 2rem;
  border: 0.1rem solid #10221b;
  border-radius: 0.5rem;
  background: #fff;
}
.services .box:hover {
  background: #10221b;
}
.services .box:hover img {
  filter: invert(1);
}
.services .box:hover h3 {
  color: #fff;
}
.services .box:hover p {
  color: #fff;
}
.services .box:hover .btn {
  border-color: #fff;
  color: #fff;
}
.services .box:hover .btn:hover {
  background: #fff;
  color: #10221b;
}
.services .box img {
  height: 10rem;
  margin-bottom: 1rem;
}
.services .box h3 {
  font-size: 2rem;
  color: #219150;
}
.services .box p {
  font-size: 1.5rem;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
}

.reviews .slide .text {
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: italic;
  background: #eee;
  border-radius: 0.5rem;
  color: #10221b;
  line-height: 2;
  position: relative;
  z-index: 0;
}
.reviews .slide .text::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0.7rem;
  height: 3rem;
  width: 3rem;
  background: #eee;
  transform: rotate(45deg);
}
.reviews .slide .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}
.reviews .slide .user h3 {
  font-size: 2rem;
  color: #10221b;
}
.reviews .slide .user span {
  font-size: 1.5rem;
  color: #219150;
}

.blogs .wrappper {
  display: flex;
}
.blogs .slide {
  width: 35rem;
  padding: 2rem;
}
.blogs .slide img {
  height: 25rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.blogs .slide .icons {
  background: #10221b;
  border-radius: 0.5rem;
  padding: 1rem;
  position: relative;
  top: -2rem;
  display: inline-block;
  margin: 0 1rem;
}
.blogs .slide .icons a {
  font-size: 1.4rem;
  color: #fff;
}
.blogs .slide .icons a:hover {
  color: #219150;
}
.blogs .slide .icons a i {
  padding-right: 0.5rem;
  color: #219150;
}
.blogs .slide h3 {
  font-size: 2rem;
  color: #10221b;
}
.blogs .slide p {
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 2;
  color: #10221b;
}

.news-letter {
  background: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.news-letter .content {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}
.news-letter .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #10221b;
}
.news-letter .content form {
  margin-top: 2rem;
  background: #fff;
  border-radius: 5rem;
  border: 0.1rem solid #10221b;
  padding: 0.7rem;
  display: flex;
}
.news-letter .content .email {
  width: 100%;
  background: red;
  background: none;
  text-transform: none;
  font-size: 1.5rem;
  color: #10221b;
  padding: 0 1.3rem;
}
.news-letter .content .btn {
  margin-top: 0;
  border-radius: 5rem;
  background: #10221b;
  color: #fff;
}
.news-letter .content .btn:hover {
  background: none;
  color: #10221b;
}

.clients .noon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 5rem;
}
.clients .silde {
  text-align: center;
}
.clients .silde img {
  height: 12rem;
}

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/footer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
  padding: 1.5rem 0;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
}
.footer .box-container .box a i {
  color: #219150;
  padding-right: 0.5rem;
}
.footer .box-container .box a:hover {
  color: #219150;
}
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.credit {
  text-align: center;
  color: #fff;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  width: 100%;
}
.credit span {
  color: #219150;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding-top: 7rem;
  }

  .home .box {
    padding: 2rem;
    justify-content: center;
    background-position: right !important;
  }
  .home .box.second {
    justify-content: center;
    background-position: left !important;
  }
  .home .box .content {
    text-align: center;
  }
  .home .box .content span {
    font-size: 3rem;
  }
  .home .box .content h3 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0%;
    left: -110%;
    background: #fff;
    z-index: 10000;
    width: 35rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .header .navbar.active {
    left: 0px;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
  }
  .header a {
    margin: 1rem 0;
    font-size: 3rem;
  }
  .header #nav-close {
    visibility: visible;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  .swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2rem;
    color: #10221b;
    display: none;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */